<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="tradepairs"
                 type="ScamIvan.CustomSectionIntoConfig.TradePairsSection, ScamIvan" />
    </configSections>
    <tradepairs>
        <add name="EUR/USD" value="EURUSD"/>
        <add name="EUR/GBP" value="EURGBP"/>
        <add name="EUR/CAD" value="EURCAD"/>
        <add name="EUR/JPY" value="EURJPY"/>
        <add name="EUR/CHF" value="EURCHF"/>

        <add name="GBP/USD" value="GBPUSD"/>
        <add name="GBP/CAD" value="GBPCAD"/>
        <add name="GBP/JPY" value="GBPJPY"/>
        <add name="GBP/CHF" value="GBPCHF"/>
        <add name="GBP/AUD" value="GBPAUD"/>

        <add name="AUD/JPY" value="AUDJPY"/>
        <add name="CHF/JPY" value="CHFJPY"/>
        <add name="CAD/JPY" value="CADJPY"/>
        <add name="USD/JPY" value="USDJPY"/>
        <add name="USD/CAD" value="USDCAD"/>
    </tradepairs>
    <appSettings>
        <!--Общий адрес откуда будут делаться скриншоты-->
        <add key="screenshotAddress" value="https://www.tradingview.com"/>

        <!--Суфикс для скриншотов форекс пар фиатных валют-->
        <!--Может не работать для криптовалют или чего-то ещё-->
        <add key="screenshotChart" value="/chart/?symbol=FX%3A"/>

        <!--Временной интервал для графика (сейчас в минутах)-->
        <!--Там заморочено и по идее можно выбирать только те варианты, которые есть у них в открытом доступе, у секунд суфикс 'S' после числа, для часов указывается '1000' для одного часа-->
        <add key="screenshotTimeInterval" value="3"/>

        <!--Базовый адрес для отправки запроса к нейросети-->
        <add key="baseAddress" value="адрес для формирования сигналов"/>

        <!--Адрес для проверки статуса текущего запроса к нейросети-->
        <add key="checkStatusAddress" value="адрес для ответа нейросети"/>

        <!--Путь до файла со скриншотом-->
        <add key="pathToScreenshot" value="pics"/>

        <!--Имя файла скриншота-->
        <add key="screenshotName" value="test.png"/>

        <!--Время между постами (в секундах; 3600 = час)-->
        <!--<add key="periodOfInactivity" value="900"/>-->
        <add key="minPeriodOfInactivity" value="800"/>
        <add key="maxPeriodOfInactivity" value="1200"/>

        <!--Время между сообщением-уведомлением и самим сигналом (в минутах)-->
        <add key="timeForSignalAfterNotification" value="1"/>

        <!--assistantId для нейросети-->
        <add key="assistantId" value="для нейросети"/>

        <!--token для нейросети-->
        <add key="token" value="токен нейросети"/>

        <!--Сообщение для нейросети-->
        <add key="message" value="RUS"/>

        <!--Адрес для получения статуса текущего запроса-->
        <add key="statusAddress" value="/status"/>

        <!--Статус, при котором ИИ отдаёт аналитику-->
        <add key="completedstatus" value="completed"/>

        <!--Максимальное количество повторных запросов о статусе по одной задаче в ИИ-->
        <!--На случай, если что-то пойдёт не так, то программа не уйдёт в бесконечный цикл-->
        <add key="maximumNumberOfRepeatedRequests" value="5"/>

        <!--Время между повторным запросом в нейросеть для получения аналитики (в секундах)-->
        <add key="waitingForAI" value="4"/>
        
        <!--Telegram-->
        <!--Id продакшн чата канала-->
        <!--<add key="chatId" value="id чата с ботом"/>-->
        <!--Токен для продакшн телеграмм канала-->
        <!--<add key="tgToken" value="токен телеграмм бота"/>-->

        <!--Id тест чата канала-->
        <add key="chatId" value="id чата с ботом"/>
        <!--Токен для тест телеграмм канала-->
        <add key="tgToken" value="токен телеграмм бота"/>
    </appSettings>
</configuration>